@import "./../../../variables.scss";

.top-bar {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: $fontColor;
    
    height: 60px;
    padding: 0 1rem;
    background-color: $primaryColor;
    position: sticky;
    top: 0;
    z-index: 100;
}

.body-home {
    padding: 1rem;
}

.menu-item {
    width: 100px;
}

ul {
    list-style-type: none;  
    padding: 0;
    text-decoration: none;
}

a, li{
    list-style-type: none;  
    font-weight: bold;  
    font-size: 18px;  
    text-decoration: none;
    color: #636363;

    &:hover {
        transition: .5s;
        color: $primaryColor;
    }
}

.title {
    padding: 10px;
    background-color: #efefef;
    border-radius: 10px;
}


  
