<div class="top-bar">
  <p-button (click)="showMenu=!showMenu" icon="pi pi-bars"></p-button>
  &nbsp;&nbsp;
  <span>MOVIES AWARDS - Golden Raspberry Awards</span>
</div>


<p-sidebar id="menu" [(visible)]="showMenu" position="left">
  <div style="text-align: center;">
    <h4 class="title">Views</h4>
    <ul class="menu">
      <a id="buttonDashboard" href="#" [routerLink]="['/dashboard']" (click)="showMenu=false">
        <li class="menuItem">DASHBOARD</li>
      </a>
      <a id="buttonList" href="#" [routerLink]="['/list']" (click)="showMenu=false">
        <li class="menuItem">LIST</li>
      </a>
    </ul>
  </div>
</p-sidebar>

<div class="body-home">
  <router-outlet></router-outlet>
</div>