@import "primeicons/primeicons.css";
@import "variables.scss";

* {
    font-family: var(--font-family);
}

body {
    margin: 0;
}

.view-title {
    background-color: $backgroundColor;
    border-radius: .3rem;
    font-weight: bold;
}

.center-align {
    text-align: center;
}

.p-inputtext {
    padding: 0.2rem;
}

.p-button {
    padding: 0.5rem 0.6rem;
}

.top-align {
    display: flex;
    align-items: flex-start;
}

.p-datatable .p-datatable-tbody > tr > td {
    padding: 0.5rem 0.6rem;
}

.p-component {
    font-size: .9rem;
}

.p-datatable .p-datatable-thead > tr > th, .p-datatable .p-datatable-header {
    padding: 0.6rem 0.7rem
}

.p-paginator .p-paginator-pages .p-paginator-page {
    min-width: 2rem;
    height: 2rem;
}

.p-card .p-card-subtitle {
    font-weight: 500;
    margin: 0;
}

.grid {
    margin: 0;
}