@import "./../../../variables.scss";

.menu {
    padding: 1rem;
    background-color: $backgroundColor;
    height: calc(100vh - 60px);
}

::ng-deep .menu-item button {
    display: inline-block;
    text-align: center;
    margin-bottom: 1rem;
    width: 9rem;
    &:focus {
        background-color: $primaryColorFocus
    }
}